.nominationWrapper {
  display: inline;
}

.removeButton {
  font-size: 1.3rem;
  padding: 0.2rem 0.4rem;
  border: none;
  background-color: var(--pink);
  color: var(--white);
  margin-left: 10px;
}
