.navbar {
  height: 60px;
  color: var(--white);
  background-color: var(--green-primary);
}

.navbarContentWrapper {
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.logoText {
  font-family: 'Lobster', cursive;
  margin-left: 8px;
  font-size: 20px;
}
